<body class="homepage">

    	<!-- Header -->
			<div id="header">		
				<!-- Inner -->
					<div class="inner">
                        <p style="text-align:center;">
                            <ul>
                                <% flash.each do |key, msg| %>
                                  <%= content_tag :li, msg, id: key %>
                                <% end %>
                            </ul>
                        </p>
						<header>
							<h1><a href="#" id="logo">Mkv</a></h1>
							<hr />
							<span class="byline">A social app integrating Facebook and Netflix<br/>
                            </span>
						</header>
						<footer>
							<a href="#banner" class="button circled scrolly">↓ More ↓</a>
						</footer>
					</div>
			</div>
			
		<!-- Banner -->
			<div id="banner">
				<h2><%= link_to 'Sign in with Facebook', signin_path %></h2>
				<span class="byline">
					
				</span>
			</div>
		<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="12u">
							
							<!-- Contact -->
								<section class="contact">
									<ul class="icons">
										<li><a href="#" class="icon icon-github-sign"><span>Github</span></a></li>
										<li><a href="#" class="icon icon-facebook"><span>Facebook</span></a></li>
										<li><a href="#" class="icon icon-google-plus"><span>Google+</span></a></li>
										<li><a href="#" class="icon icon-linkedin"><span>Linkedin</span></a></li>
									</ul>
								</section>
							
							<!-- Copyright -->
								<div class="copyright">
									<ul class="menu">
										<li>&copy; mkv. All rights reserved.</li>
									</ul>
								</div>
							
						</div>
					
					</div>
				</div>
			</div>

	</body>