    <body class="no-sidebar">

		<!-- Header -->
			<div id="header">

				<!-- Inner -->
					<div class="inner">
						<header>
							<h1><a href="#" id="logo">Mkv</a></h1>
						</header>
					</div>
				
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="http://mkv.herokuapp.com">Home</a></li>
                            <li><a href="http://mkv.herokuapp.com/signout">Sign Out</a></li>
						</ul>
					</nav>

			</div>
			
		<!-- Main -->
			<div class="wrapper style1">

				<div class="container">
					<div class="row">
						<div class="12u skel-cell-mainContent" id="content">
							<hr />
							<article id="main" class="special">
								<header>
									<h2>Success Page</h2>
									<span class="byline">
									<ul>
                                        <% flash.each do |key, msg| %>
                                          <%= content_tag :li, msg, id: key %>
                                        <% end %>
                                    </ul>	
									</span>
								</header>
							</article>
						</div>
					</div>
				</div>

			</div>

		<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="12u">
							
							<!-- Contact -->
								<section class="contact">
									<ul class="icons">
										<li><a href="#" class="icon icon-github-sign"><span>Github</span></a></li>
										<li><a href="#" class="icon icon-facebook"><span>Facebook</span></a></li>
										<li><a href="#" class="icon icon-google-plus"><span>Google+</span></a></li>
										<li><a href="#" class="icon icon-linkedin"><span>Linkedin</span></a></li>
									</ul>
								</section>
							
							<!-- Copyright -->
								<div class="copyright">
									<ul class="menu">
										<li>&copy; mkv. All rights reserved.</li>
									</ul>
								</div>
							
						</div>
					
					</div>
				</div>
			</div>

	</body>