<!DOCTYPE html>
<html>
<head>
  <title>Mkv</title>
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <script src="http://mkv.herokuapp.com/custom/jquery.dropotron.js"></script>
  <script src="http://mkv.herokuapp.com/custom/skel.min.js"></script>
  <script src="http://mkv.herokuapp.com/custom/skel-panels.min.js"></script>
  <script src="http://mkv.herokuapp.com/custom/init.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
